In [10]:
import pandas as pd 
import numpy as np  

df = pd.read_csv('Absenteeism_at_work - Absenteeism_at_work.csv',index_col ='ID' )
df.head()

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
ID,,,,,,,,,,,,,,,,,,,,
11,26,7,3,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,4
36,0,7,3,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31,0
3,23,7,4,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31,2
7,7,7,5,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24,4
11,23,7,5,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 740 entries, 11 to 35
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reason for absence               740 non-null    int64
 1   Month of absence                 740 non-null    int64
 2   Day of the week                  740 non-null    int64
 3   Seasons                          740 non-null    int64
 4   Transportation expense           740 non-null    int64
 5   Distance from Residence to Work  740 non-null    int64
 6   Service time                     740 non-null    int64
 7   Age                              740 non-null    int64
 8   Work load Average/day            740 non-null    float64
 9   Hit target                       740 non-null    int64
 10  Disciplinary failure             740 non-null    int64
 11  Education                        740 non-null    int64
 12  Son                              740 non-null    int64
 13  Social drinker                   740 non-null    int64
 14  Social smoker                    740 non-null    int64
 15  Pet                              740 non-null    int64
 16  Weight                           740 non-null    int64
 17  Height                           740 non-null    int64
 18  Body mass index                  740 non-null    int64
 19  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(19)
memory usage: 121.4 KB

In [12]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 

y = df['Social drinker'].values  
test_features = ['Day of the week','Distance from Residence to Work','Age','Body mass index','Disciplinary failure'] 
X = df[test_features].values 
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state= 0,test_size=0.2)

In [24]:
tree = DecisionTreeClassifier() 
tree = tree.fit(X_train,y_train) 
y_pred = tree.predict(X_test) 
from sklearn import metrics 

print('Accuracy:',metrics.accuracy_score(y_test,y_pred))

Accuracy: 1.0

In [25]:
from sklearn.tree import export_graphviz 
from sklearn.externals.six import StringIO 
from IPython.display import image 
import pydotplus 

dot_data = StringIO()
export_graphviz(tree,out_file=dot_data,
                filled = True,rounded = True,
                special_characters = True,feature_names= test_features,class_names= ['Not a social drinker ,Social drinker']) 
graph = pydotplus.graph_from_dot_data(dot_data.getvalue()) 
graph.write_png('absenteism.png') 
Image(graph.create_png())

ModuleNotFoundError: No module named 'sklearn.externals.six'